.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.greeting {
  margin-bottom: 1rem;
}

.btn-primary:hover {
  background-color: #CCD5AE !important;  /* Your sage green */
  border-color: #CCD5AE !important;
}

/* For hover state */
.btn-primary {
  background-color: #D4A373 !important;  /* Your caramel color */
  border-color: #D4A373 !important;
}

.navbar {
  /* background-color: #CCD5AE; */
  padding: 1rem;
  border: 1px solid black;  /* Using the caramel color from your palette */
  margin-bottom: 2rem;
  border-radius: 8px;
}

.navbar ul {
  /* color: black; */
  list-style-type: none;
  padding: 0 36px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: #ddd;
}

.home, .about, .not-found {
  max-width: 800px;   
  margin: 0 auto;
  padding: 20px;
}